
  ul{
    display:flex;
    align-content:center ;
    justify-content: center;
}
ul li{
    list-style: none;    
}
ul li a{
    text-transform:uppercases ;
    font-weight: bold;
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;
  letter-spacing: 1px;
}
ul li a:hover {
    border-bottom: 3px solid #fff;
}
  
  .header {
    padding: 20px;
    height: 100vh;
    background: url("Coronavirus-1.jpg") no-repeat  center;
    background-size: cover;
    position: relative;
  }
  .header h1 {
    margin: 0;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 350px;
  }
corona{
  background-color:green;
  background:linear-gradient(to top left,red,blue,orange,cyan);
    border:10px outset red;
}